@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
/* color palette used: https://coolors.co/palette/606c38-283618-fefae0-dda15e-bc6c25 */
* {margin: 0; padding: 0; box-sizing: border-box;}

img {
    max-width: 100%;
}

body {
    max-width: 80rem;
    margin: 0 auto;
    font-family: 'Castoro', serif;
    color: #FEFAE0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #283618;
}

.vocab {
  color: #BC9EC1;
}
.threat {
  color: #990D35;
}

header, h2 {
  text-align: center;
}

header a {
  color: #BC6C25;
}

a:hover {
  color: #DDA15E;
}

.wip {
  color: #990D35;  
}

main {
  flex-grow: 1;
  margin: 0 auto;
  padding: 1rem;
  max-width: 60rem;
  line-height: 1.6;
  font-size: 1.1em;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

footer {
  text-align: center;
  /* border: 2px solid #BC6C25; */
}

@media (max-width: 40rem) {
  #menu {
    display: flex;
    position: fixed;
    background-color: #606C38;
    left: 0;
    top: 0;
    right: 0;
    bottom: 75%;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    line-height: 1.5;
  }

  #menu a {
    border: 2px solid #283618;
    width: 100%;
    height: 100%;
  }

  #menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    background-color: #BC9EC1;
    padding: 0.25rem;
    position: relative;
    z-index: 999;
    margin: auto;
    width: 2.5rem;
  }

  #menu-toggle:hover {
    filter: hue-rotate(180deg);
  }

  .patty {
    background-color: #FEFAE0;
    width: 2rem;
    height: 0.125rem;
  }
  
}